<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />

		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="github-tommyturk" value="https://nuget.pkg.github.com/tommyturk/index.json" />
	</packageSources>

	<packageSourceCredentials>
		<github-tommyturk>
			<add key="Username" value="tommyturk" />
			<add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
		</github-tommyturk>
	</packageSourceCredentials>
</configuration>